<div class="d-flex justify-content-center align-items-center div-height">
  <span class="inc_font w-75"
    >Great web design without functionality
    <span class="fs-1"
      >is like a sports <i class="bi bi-car-front"></i> with no engine.</span
    ></span
  >
</div>

<div class="d-flex justify-content-center align-items-center div-height">
  <div class="row mb-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="max-height">About</div>
      <div class="body-title">
        Hello and welcome to my about page! My name is Ritesh, and I am an
        Angular developer with 1+ year of experience.
      </div>

      <div class="paragraphs">
        I have always been fascinated with technology, and I knew from a young
        age that I wanted to pursue a career in software development. After
        completing my degree in computer science, I began to focus on web
        development, and that's when I discovered Angular. I was immediately
        drawn to its power and versatility, and I knew that this was the
        framework I wanted to specialize in.
      </div>
      <div class="paragraphs">
        Over the past year, I have worked on a variety of projects, from small
        web applications to large-scale enterprise solutions. I have gained a
        deep understanding of Angular's core concepts, such as components,
        directives, and services, and I am always eager to learn more.
      </div>
      <div class="paragraphs">
        One of the things I love most about Angular is its ability to create
        dynamic and interactive user interfaces. I take great pride in crafting
        beautiful and functional interfaces that provide an exceptional user
        experience.
      </div>
      <div class="paragraphs">
        In addition to my technical skills, I am also a strong communicator and
        collaborator. I understand the importance of working closely with
        clients and stakeholders to ensure that their needs are met and their
        vision is realized.
      </div>
      <div class="paragraphs">
        Overall, I am passionate about Angular development and am excited to
        continue growing and learning in this field. Thank you for taking the
        time to read about me, and I look forward to the opportunity to work
        with you.
      </div>
      <a
        href="https://ritshkr1.github.io/portfolio-day-night/assets/Ritesh.pdf"
        class="resume"
      >
        Resume</a
      >
    </div>
    <div class="col-3"></div>
  </div>
</div>
