<html lang="en" [attr.data-bs-theme]="theme">
  <body>
    <div class="navbar justify-content-end">
      <a
        class="text-reset me-3 portfolio font-weight-bold"
        routerLink=""
        style="text-decoration: none"
        *ngIf="isTrue()"
        >ritesh.</a
      >
      <div class="form-check form-switch me-3">
        <input
          class="form-check-input"
          type="checkbox"
          name="theme"
          id="flexSwitchCheckDefault"
          [(ngModel)]="isDark"
          (change)="getTheme()"
        />
        <label [class]="sunMoon" for="flexSwitchCheckDefault"> </label>
      </div>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>
